{% sw_extends '@Storefront/storefront/component/line-item/type/product.html.twig' %}

{% block component_line_item_type_product_wishlist %}
    {{ parent() }}

    <label class="refinement-check">
        <input form="confirmOrderForm"
               type="checkbox"
               name="rtp_customizable[{{ lineItem.id }}]"
               id="customizable-{{ lineItem.id }}"
               class="customizable-checkbox"
               data-customizable-cart="{{ lineItem.id }}"
               {% if lineItem.payload.rtp_customizable %}checked{% endif %}
                {% if showRemoveButton is empty %}disabled{% endif %}
        >
        Artikel veredeln <a href="/Informationen/HowTo-Refinement/"> &#9432; </a>
    </label>

{% endblock %}