{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}
{% block layout_footer_copyright %}
    <div class="footer-copyright">
        &copy; {{ "now"|date("Y") }} {{ "rtp.company.name"|trans }}
    </div>
{% endblock %}

{% block layout_footer_service_menu %}

        &nbsp;

{% endblock %}