[mysqld]
innodb_buffer_pool_size = 4g
group_concat_max_len = 320000
log_bin_trust_function_creators = On
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
optimizer_search_depth = 0
max_execution_time = 60000